#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#info_start,
#info_speak_now {
  font-size: 20px;
  padding-bottom: 20px;
}
#div_start {
  float: right;
}
#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
}
.interim {
  color: rgb(213, 204, 204);
}
.final {
  color: rgb(255, 255, 255);
  padding-right: 3px;
}
.marquee {
  margin: 20px auto;
}
#div_language {
  margin: 10px 0;
}
#div_language select {
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
}
#start_stop_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#start_stop_button button {
  font-size: 16px;
  padding: 10px 20px;
}
